:root {
    --gradient: linear-gradient(to right, #00EBA3,  #00DEE6); 
}

* {
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: white;
    font-size: 3em;
}

small {
    color: #B4B4B4;
}

label {
    color: rgb(65, 65, 65);
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--gradient);
    margin: 0;
}

#contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30vh;
    gap: 20px;
}

input {
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
}

input:focus {
    outline: none;
}

#roomContainer > * {
    display: block;
}

#room {
    width: 50%;
    min-width: 200px;
}

#chatDiv {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    min-width: 600px;
}

#messages {
    width: 100%;
    min-height: 400px;
}

#inputSend {
    background-color: rgb(220, 220, 220);
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#sendIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#iconPlacer {
    position: relative;
}

#inputContainer {
    margin-bottom: 15px;
}

#messages {
    margin: 20px;
}

#messages > div {
    width: calc(100% - 2*20px);
    margin: 5px 0;
}



#messages > div > div {
    border-radius: 500px;
    background: var(--gradient);
    max-width: 80%;
    display: inline-block;
    color: white;
    padding: 10px;
}
