:root {
    --gradient: linear-gradient(to right, #00EBA3,  #00DEE6); 
}

* {
    font-family: 'Dosis', sans-serif;
    color: white;
}

p {
    color: black;
}

body {
    min-height: 100%;
    width: 100%;
    background: var(--gradient);
}

#contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30vh;
    gap: 20px;
}

input {
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
}

input:focus {
    outline: none;
}

#room {
    width: 50%;
    min-width: 200px;
}

#chatDiv {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    min-width: 600px;
}

#messages {
    width: 100%;
    min-height: 400px;
}

#inputSend {
    background-color: #EFEFEF;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}

#sendIcon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
}

#inputContainer {
    position: relative;
    min-width: 10px;
}

.messageBlob {
    border-radius: 500px;
    background-color: var(--gradient);
    max-width: 80%;
}